<h3 class="ui header">{{t "forms.i-i-s-vsempoka-формир-док-распр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vsempoka-формир-док-распр-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-vsempoka-формир-док-распр-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДокРаспред
      class=(if (v-get validationModel "номерДокРаспред" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka-формир-док-распр-e.номерДокРаспред-caption")
      data-test-i-i-s-vsempoka-формир-док-распр-e-номерДокРаспред=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДокРаспред" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vsempoka-формир-док-распр-e.докумПостав-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.докумПостав
      displayAttributeName="номерДокПост"
      autocomplete=true
      relationName="докумПостав"
      projection="ДокумПоставL"
      title=(t "forms.i-i-s-vsempoka-формир-док-распр-e.докумПостав-caption")
      readonly=readonly
      componentName="докумПоставLookup"
      class=(if (v-get validationModel "докумПостав" "isInvalid") "error")
      data-test-i-i-s-vsempoka-формир-док-распр-e-докумПостав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "докумПостав" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.заказчик
      class=(if (v-get validationModel.докумПостав.клиенты "заказчик" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka-формир-док-распр-e.докумПостав.клиенты.заказчик-caption")
      data-test-i-i-s-vsempoka-формир-док-распр-e-докумПостав-клиенты-заказчик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "заказчик" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.адресПоствки
      class=(if (v-get validationModel.докумПостав.клиенты "адресПоствки" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka-формир-док-распр-e.докумПостав.клиенты.адресПоствки-caption")
      data-test-i-i-s-vsempoka-формир-док-распр-e-докумПостав-клиенты-адресПоствки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "адресПоствки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.телефон
      class=(if (v-get validationModel.докумПостав.клиенты "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-vsempoka-формир-док-распр-e.докумПостав.клиенты.телефон-caption")
      data-test-i-i-s-vsempoka-формир-док-распр-e-докумПостав-клиенты-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "телефон" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vsempoka-формир-док-распр-e.списокБарж-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокБарж
      displayAttributeName="номерБаржи"
      autocomplete=true
      relationName="списокБарж"
      projection="СписокБаржL"
      title=(t "forms.i-i-s-vsempoka-формир-док-распр-e.списокБарж-caption")
      readonly=readonly
      componentName="списокБаржLookup"
      class=(if (v-get validationModel "списокБарж" "isInvalid") "error")
      data-test-i-i-s-vsempoka-формир-док-распр-e-списокБарж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокБарж" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vsempoka-формир-док-распр-e.пунктПогрузки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.пунктПогрузки
      displayAttributeName="адрес"
      autocomplete=true
      relationName="пунктПогрузки"
      projection="ПунктПогрузкиL"
      title=(t "forms.i-i-s-vsempoka-формир-док-распр-e.пунктПогрузки-caption")
      readonly=readonly
      componentName="пунктПогрузкиLookup"
      class=(if (v-get validationModel "пунктПогрузки" "isInvalid") "error")
      data-test-i-i-s-vsempoka-формир-док-распр-e-пунктПогрузки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктПогрузки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vsempoka-формир-док-распр-e.списокКонтей-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокКонтей
      displayAttributeName="номерКонтей"
      autocomplete=true
      relationName="списокКонтей"
      projection="СписокКонтейL"
      title=(t "forms.i-i-s-vsempoka-формир-док-распр-e.списокКонтей-caption")
      readonly=readonly
      componentName="списокКонтейLookup"
      class=(if (v-get validationModel "списокКонтей" "isInvalid") "error")
      data-test-i-i-s-vsempoka-формир-док-распр-e-списокКонтей=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокКонтей" "message")}}
  </div>
</form>
